# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,python,vuejs

# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,python,vuejs

### VisualStudioCode

.vscode/_
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/_.code-snippets

# Local History for Visual Studio Code

.history/

# Built Visual Studio Code Extensions

\*.vsix

### VisualStudioCode Patch

# Ignore all local history of files

.history
.ionide

# Support for Project snippet scope

.vscode/\*.code-snippets

# Ignore code-workspaces

\*.code-workspace

### Vuejs

# Recommended template: Node.gitignore

frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/package-lock.json

# Backend

backend/node_modules/
backend/npm-debug.log
backend/yarn-error.log
backend/package-lock.json
